.baseunit: .5rem;

* {
  box-sizing: border-box;
}

#slide{
  position:absolute;
  top:-14rem;
  left:-14rem;
  opacity:0.5;
}

#slide1{
  z-index:1;
  position:absolute;
  top:-25rem;
  left:-10rem;
  height:100rem;
  opacity:0.2;

}
ul .selected{
  font-weight:200px;
}
#date{
  color:red;
  font-family: 'PT Sans Narrow', sans-serif;
  position:absolute;
  top:0rem;
  left:-5rem;

}
#date1{
  font-family: 'PT Sans Narrow', sans-serif;
  color:red;
  font-size:40px;
  position:absolute;
  top:3.5rem;
 left:1rem;
}
.parents{
  position:absolute;
  bottom:-5rem;
}

#note3{
  z-index:1;
  position:absolute;
  top:-8rem;
  transform:rotate(-20deg);
  height:60rem;
  left:-10rem;
  opacity:0.5;
}
.lifeline{
  position:absolute;
  top:4.4rem;
}
.PA{
  opacity:0.7;
  z-index:1;
  position:absolute;
  top:-5rem;
  left:10rem;
}
main {
	background-color:#FFF599;
  overflow: hidden;
}
#p1{
  font-size:20px;
  font-family: 'PT Sans Narrow', sans-serif;
  position:absolute;
  top:6rem;

}
#p2{
  font-size:20px;
  font-family: 'PT Sans Narrow', sans-serif;
	z-index:2;
  position:absolute;
  bottom:0rem;
  right:5rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.hline-bottom {
	z-index:1;
    padding-bottom: 400px;
    border-bottom: 6px solid #000; 
    color:black/* whichever color you prefer */
}
#malcom{
  z-index:2;
	position:absolute;
	top:-15rem;
	left:25rem;
	height:70rem;
}
#note2{
	transform:rotate(20deg);
	opacity:0.5;
	right:30rem;
	top:-25rem;
	position:absolute;
	height:100rem;
}
.name{
	z-index:2;
	position:absolute;
	left:20rem;

}

.musicnote{
	z-index:2;
	position:absolute;
	top:25px;
	left:2px;

}
.wrapper {
  // width:100%;
  display: flex;
  flex-wrap: nowrap;
  transition: all 1s;
}
.panel:.nth-child(1){
	background-color:yellow;

}
.panel {
  position: relative;
  width: 100vw;
  height: 90vh;
  p:nth-child(1){
    background-color: #FFF599;
  }
  &:nth-child(2){
    background-color: #999;
  }
  &:nth-child(3){
    background-color: #666;
  }
}
h1{
  font-family: 'Fjalla One', sans-serif;
  color:black;
}
ul {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  margin: 0;
  padding: 2;
  list-style: none;
  background-color: #212121;}

  li {
    margin: 1rem;
    font-weight: 100;
    font-size: 1.75;
    letter-spacing: 1px;
    color: #fff;}
  .hover {
      cursor: pointer;
      color: #ccc;
    }
  }
}

@media screen and (min-width: 40em){

	.menu {
		justify-content: flex-end;
	}

	.introduction {
		margin: 0;
	}

}