

.baseunit: .5rem;

* {
  box-sizing: border-box;
}

main {
	 background-image:url("background.png");
	background-color:#FFF599;
  overflow: hidden;
}
.p{
	z-index:2;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.hline-bottom {
	z-index:1;
    padding-bottom: 400px;
    border-bottom: 5px solid #000; 
    color:black/* whichever color you prefer */
}
#malcom{
	position:absolute;
	top:-25rem;
	left:10rem;
	height:90rem;
}
#note2{
	transform:rotate(20deg);
	opacity:0.5;
	right:45rem;
	top:-15rem;
	position:absolute;
	height:75rem;
}
.name{
	z-index:2;
	position:absolute;
	left:20rem;

}

.musicnote{
	z-index:1;
	position:absolute;
	top:25px;
	left:2px;

}
.wrapper {
  // width:100%;
  display: flex;
  flex-wrap: nowrap;
  transition: all 1s;
}
.panel:.nth-child(1){
	background-color:yellow;

}
.panel {
  position: relative;
  width: 100vw;
  height: 90vh;
  p:nth-child(1){
    background-color: #FFF599;
  }
  &:nth-child(2){
    background-color: #999;
  }
  &:nth-child(3){
    background-color: #666;
  }
  h1 {
    font-size: 15px;
    letter-spacing: -2px;
  }
}

ul {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  margin: 0;
  padding: 2;
  list-style: none;
  background-color: #212121;}

  li {
    margin: 1rem;
    font-weight: 100;
    font-size: 1.75;
    letter-spacing: 1px;
    color: #fff;}
  .hover {
      cursor: pointer;
      color: #ccc;
    }
  }
}

@media screen and (min-width: 40em){

	.menu {
		justify-content: flex-end;
	}

	.introduction {
		margin: 0;
	}

}